name: Tests

on: [push]

jobs:
  tests:
    environment: test

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install setuptools, twine, wheel
        run: |
          pip install --upgrade pip
          pip install setuptools twine wheel

      - name: Create distribution
        run: python setup.py sdist bdist_wheel

      - name: Check distribution
        run: python -m twine check dist/*

      - name: Install package
        run: python -m pip install .

      - name: Tree
        run: tree .

      - name: Run unittests
        env:
          DB_ENV: ${{ vars.DB_ENV }}
          DB_READ_AND_WRITE_PASSWORD: ${{ secrets.DB_READ_AND_WRITE_PASSWORD }}
        run: |
          echo %DB_ENV%
          python -m unittest discover ./test

      - name: Check formatting
        run: |
          ruff format --check .

      - name: Check linting
        run: |
          ruff check .
